spring:
  application:
    name: graze
  datasource:
    url: jdbc:postgresql://localhost:5433/graze
    username: graze_user
    password: graze_password
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG


